body{
  background: #F5F5DC;
  margin: 0px;
  margin-top: 0px;
}
.title{
  background-color: #ECE8DD;
  height: 100px;
  position: inherit;
  bottom: 22px;
}
.box {
  background: #E1D7C6;
  font-size: 20px;
  height: 300px;
}
.text-input{
  height: 100px;
  width: 500px;
}
.text-input-salida{
  height: 100px;
  width: 500px;
}
.alura{
  position: absolute;
  top: 5px;
}
.btn{
  background: #579BB1;
  position: relative;
  top: 50px;
}
hr{
  margin: dotted;
}
